// LARGE OVERLAY STYLES (thumbnail when selected)

// backdrop styles to provide focus to large card overlay, use jquery add class to selected card

// OUTSIDE OF CARD
.backDropOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  .overLayWrapper {
    @include flexboxCenter();
    height: 100%;
    width: 100%;
  }
}

///POSITIONING CARD
.largeOverlay {
  // apply backdrop poster
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  height: 70%;
  max-height: 850px;
  min-height: 810px;
  color: $secondary-color;
  background-size: cover;
  background-position: center top;
  position: relative; // for the exitBtn
  transition: all 0.5s;
  .detailsCard {
    // apply semmi transparent blue background
    background: $backdrop;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    .overlay {
      // this has the id
      height: 100%;
      width: 100%;
      position: relative;
      padding: 10px 80px 60px 30px;
      transition: all 0.5s;
    }
  }
}

// INSIDE CARD POSITIONS
.overlay {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  .titleContainer {
    grid-column: 1/9;
    grid-row: 1/2;
  }
  .imgContainer {
    grid-column: 1/5;
    grid-row: 2/8;
  }
  .detailsContainer {
    grid-column: 5/9;
    grid-row: 2/4;
  }
  .overviewContainer {
    grid-column: 5/9;
    grid-row: 4/9;
  }
  .movieTvBtn {
    bottom: 0;
  }
}

// INSIDE CARD TYPOGRAPHY

.overlay {
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    transition: all 0.5s;
  }
}

// the X at the top-right corner
.exitBtn {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  transition: 0.5s ease;
  font-size: 2rem;
  color: $secondary-color;
  z-index: 5000;
  &:hover,
  &:focus {
    color: $tertiary-color;
    transform: scale(1.3);
  }
  i {
    border-radius: 50%;
    background-color: $primary-color;
    border: 2px solid $tertiary-color;
  }
}

.titleContainer {
  text-align: center;
  border-bottom: 2px solid $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px 0 30px;
  h1 {
    color: $tertiary-color;
    font-size: 3.2rem;
  }
}

.detailsContainer {
  font-size: 1.8rem;
  font-family: $secondary-font;
  span {
    font-size: 2rem;
    color: $tertiary-color;
    margin-right: 10px;
    font-weight: bolder;
  }
  ul li {
    margin: 5px 0;
  }
}

.overviewContainer {
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-y: scroll;
  i {
    margin-right: 10px;
  }
  h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .backDropOverlay {
    width: 98.5vw;
    .largeOverlay {
      // card boundaries
      width: 100%;
      max-width: 100%;
      border: 4px solid rgb(255, 217, 0);
      .overlay {
        padding: 10px 25px 60px 25px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 0.7fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}

@media (min-width: 1201px) and (max-height: 850px) {
  .backDropOverlay {
    .largeOverlay {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      border: 4px solid rgb(255, 123, 0);
      .overlay {
        padding: 10px 20px 60px 20px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 1201px) and (max-height: 650px) {
  .backDropOverlay {
    .largeOverlay {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      border: 4px solid rgb(252, 54, 5);
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
  }
  .detailsContainer {
    font-size: 1.6rem;
    span {
      display: block;
      font-size: 1.8rem;
    }
    ul {
      display: flex;
    }
    ul li {
      margin: 0px 20px;
    }
    ul li:first-of-type {
      margin: 0px;
    }
    ul li:last-of-type {
      span {
        display: inline-block;
      }
      i {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 1200px) and (max-height: 850px) {
  .backDropOverlay {
    .largeOverlay {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      border: 4px solid rgb(139, 113, 89);
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .detailsContainer {
    font-size: 1.6rem;
    span {
      display: block;
      font-size: 1.8rem;
    }
    ul {
      display: flex;
    }
    ul li {
      margin: 0px 20px;
    }
    ul li:first-of-type {
      margin: 0px;
    }
    ul li:last-of-type {
      span {
        display: inline-block;
      }
      i {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 1200px) and (max-height: 650px) {
  .backDropOverlay {
    .largeOverlay {
      height: 100%;
      max-height: 100%;
      min-height: 100%;
      border: 4px solid rgb(117, 32, 11);
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) and (max-height: 420px) {
  .backDropOverlay {
    height: 410px;
    width: 100vw;
    .largeOverlay {
      height: 410px;
      max-height: 410px;
      min-height: 410px;
      border: 4px solid rgb(101, 117, 11);
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
  }
  .detailsContainer {
    font-size: 1.4rem;
  }
  .overviewContainer {
    font-size: 1.3rem;
    h3 {
      font-size: 2.3rem;
      margin-top: 18px;
    }
    p {
      padding-right: 10px;
    }
  }
}

@media (max-width: 900px) {
  .backDropOverlay {
    width: 98.5vw;
    .largeOverlay {
      border: 4px solid rgb(0, 255, 21);
      .overlay {
        padding: 10px 20px 60px 20px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
    grid-template-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    .overviewContainer {
      grid-column: 1/9;
      grid-row: 6/9;
    }
  }
  .titleContainer {
    h1 {
      font-size: 3rem;
    }
  }
}

@media (max-width: 900px) and (max-height: 850px) {
  .backDropOverlay {
    width: 99vw;
    .largeOverlay {
      width: 100%;
      max-width: 100%;
      border: 4px solid rgb(14, 151, 37);
      .overlay {
        padding: 10px 20px 60px 20px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1.5fr 1fr 1fr 0.3fr 1fr 1fr 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    .overviewContainer {
      grid-column: 1/9;
      grid-row: 4/9;
    }
  }
  .titleContainer {
    h1 {
      font-size: 3rem;
    }
  }
  .detailsContainer {
    font-size: 1.4rem;
    span {
      display: inline-block;
      font-size: 1.6rem;
    }
    ul {
      display: flex;
      flex-direction: column;
    }
    ul li {
      margin: 5px 0px;
    }
    ul li:first-of-type {
      margin: 0px;
    }
    ul li:last-of-type {
      span {
        display: inline-block;
      }
      i {
        font-size: 2.3rem;
      }
    }
  }
  .overviewContainer {
    margin-top: 20px;
    font-size: 1.4rem;
    h3 {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: 900px) and (max-height: 650px) {
  .backDropOverlay {
    .largeOverlay {
      width: 100%;
      max-width: 100%;
      border: 4px solid rgb(14, 151, 151);
      .overlay {
        padding: 10px 20px 50px 20px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1.8fr 1.8fr 1.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-columns: 0.02fr 0.02fr 0.02fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    .overviewContainer {
      margin-top: 15px;
      grid-row: 4/9;
    }
  }
  .titleContainer {
    h1 {
      font-size: 2.4rem;
    }
  }
  .detailsContainer {
    font-size: 1.4rem;
    span {
      display: block;
      font-size: 1.6rem;
    }
    ul {
      display: flex;
      flex-direction: row;
    }
    ul li {
      margin: 0px 10px;
    }
    ul li:first-of-type {
      margin: 0px;
    }
    ul li:last-of-type {
      span {
        display: block;
      }
      i {
        font-size: 2.3rem;
      }
    }
  }
  .overviewContainer {
    font-size: 1.25rem;
    h3 {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 900px) and (max-height: 420px) {
  .backDropOverlay {
    height: 100%;
    width: 100%;
    .largeOverlay {
      height: 350px;
      max-height: 350px;
      min-height: 350px;
      width: 100%;
      border: 4px solid rgb(115, 37, 218);
      .overlay {
        padding: 35px 10px 40px 10px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 2fr 2fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-columns: 0.15fr 0.15fr 0.15fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    .imgContainer {
      grid-row: 1/4;
      grid-column: 1/4;
    }
    .titleContainer {
      grid-column: 5/9;
    }
    .overviewContainer {
      margin-top: 0px;
    }
    .detailsContainer {
      grid-column: 5/9;
    }
  }

  .titleContainer {
    h1 {
      font-size: 2rem;
    }
  }

  .detailsContainer {
    font-size: 1.4rem;
    height: 80px;
    border-bottom: 2px solid $tertiary-color;
    span {
      display: block;
      font-size: 1.4rem;
      margin-bottom: 5px;
    }
    ul {
      display: flex;
      flex-direction: row;
    }
    ul li {
      margin: 0px 10px;
    }
    ul li:first-of-type {
      margin: 0px;
    }
    ul li:last-of-type {
      span {
        display: block;
      }
      i {
        font-size: 2.3rem;
      }
    }
  }
  .overviewContainer {
    font-size: 1.15rem;
    h3 {
      margin-top: 0px;
      font-size: 1.5rem;
    }
  }
  .exitBtn {
    top: 15px;
  }
}

@media (max-width: 690px) {
  .backDropOverlay {
    .largeOverlay {
      // card boundaries
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      border: 4px solid rgb(255, 0, 34);
      .overlay {
        padding: 10px 30px 60px 20px;
      }
    }
  }
  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
    grid-template-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    .overviewContainer {
      grid-row: 5/9;
    }
  }
  .detailsContainer {
    font-size: 1.6rem;
    span {
      display: block;
      font-size: 1.8rem;
    }
    ul li {
      margin: 10px 0px;
    }
    ul li:first-of-type {
      margin-top: 0px;
    }
    ul li:last-of-type {
      span {
        display: inline-block;
      }
      i {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .backDropOverlay {
    height: 100vh;
    width: 100vw;
    .largeOverlay {
      border: 4px solid rgb(0, 204, 255);
      min-height: 700px;
      max-height: 700px;
      height: 700px;
      margin-top: -30px;
      .overlay {
        padding: 20px 10px 60px 20px;
      }
    }
  }

  .exitBtn {
    right: 5px;
    top: 20px;
    font-size: 1.8rem;
  }

  .overlay {
    grid-template-rows: 0.8fr 1fr 1fr 0.2fr 0.7fr 1fr 1fr 0.8fr;
    grid-template-columns: 0.5fr 0.5fr 0.7fr 0.5fr 1fr 1fr 1fr 1fr;
    .overviewContainer {
      grid-row: 5/9;
    }
  }

  .titleContainer {
    padding: 0 40px 0 0;
    h1 {
      font-size: 2.4rem;
      text-align: left;
    }
  }

  .detailsContainer {
    font-size: 1.4rem;
    span {
      display: block;
      font-size: 1.6rem;
    }
    ul li {
      margin: 0px;
    }
    ul li:last-of-type {
      i {
        font-size: 2.3rem;
      }
    }
  }
  .overviewContainer {
    font-size: 1.4rem;
    margin: 0px;
    padding: 0px;
    h3 {
      font-size: 2.4rem;
      margin-top: 18px;
    }
    p {
      padding-right: 10px;
      font-size: 1.3rem;
    }
  }
}
