/* VARIABLE STYLES */

$primary-color: #153e50;
$secondary-color: #F2F3F4;
$tertiary-color: #E2AA5F;


$primary-font: 'Archivo Black', sans-serif;
$secondary-font: 'Roboto', sans-serif;


/* MIX INS */

/* FLEXBOX CENTERING */
@mixin flexboxCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}