@import "../partials/setup";
@import "../partials/variables";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: $primary-font;
    color: $primary-color;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
    
}

.container {
    width: 75vw;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

// HEADER STYLE

.mainNavContainer {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    background-color: 	#103140;
    padding: 10px 50px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
} 

h1 {
    color: white;
}

.search {
    @include flexboxCenter();
    border-radius: 4px;
    border: 2px solid #ccc;
    background-color: $secondary-color;
    transition: width 0.4s ease;
    padding: 12px 20px;
    width: 300px;
    font-size: 1.4rem;
}


.homeContainer {
    @include flexboxCenter();
}

.homeButton {
    text-decoration: none;
    color: $secondary-color;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 2px solid white;
    transition: 0.3s ease-in;
    border-radius: 50%;

    &:hover {
        background-color: white;
        color: $primary-color;
    }
}

// HOME PAGE STYLES

.categoryTitleContainer {
    border-bottom: solid 8px $primary-color;
}

// DRAWER LIST STYLE 

.listDrawer {
    height: 100vh;
    background-color: $primary-color;
    width: 25vw;
    color: #fff;
    padding: 10px;
}

// COLLECTION STYLE


.collection {
    display: flex;
    list-style: none;
}

.collection li {
    width: 250px;
    height: 200px;
    margin: 10px;
    border: 1px solid red;
}

// LARGE OVERLAY STYLES (thumbnail when selected)

.largeOverlayWrapper {
    border: 1px solid $secondary-color;
    margin: 0 auto;
    width: 50%;
    max-width: 750px;

}

.largeOverlay {
    height: 80%;
    width: 55%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $primary-color;
    color: $secondary-color;
    margin: 0 auto;
    position: relative;
}

.topLargeOverlay {
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;

    .movieTitle {
        text-align: left;
    }

    .releaseDate {
        justify-content: flex-end;
    }
}

.exitBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.5s ease;

    &:hover {
        color: red;
        transform: scale(1.3);
    }
}

.descriptionLargeOverlay {
    font-size: 1.6rem;
    padding: 10px 50px;
    font-family: $secondary-font;
}

.bottomLargeOverlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.addToWatchListBtn {
    text-decoration: none;
    color: #E2AA5F;
    text-transform: uppercase;
    border: 2px solid #E2AA5F;
    padding: 10px 30px;
}


// backdrop styles to provide focus to large card overlay, use jquery add class to selected card

.backDropOverlay {
    background-color: rgba(0,0,0, .5);
    height: 100vh;
    width: 100vw;
    // position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 1s;
}

// SEARCH RESULTS GRID CONTAINER 

.resultsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 10px;
    padding: 20px;
}

.gridCell {
    border: 1px solid red;
    width: 200px;
    height: 200px;
}


