@import "../partials/setup";
@import "../partials/variables";
@import "../partials/largeOverlay";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: $primary-font;
    color: $primary-color;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
    
}

h3 {
    font-size: 2.5rem;
}

.container {
    width: 75vw;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

// HEADER STYLE

.mainNavContainer {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    background-color: 	#103140;
    padding: 10px 50px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
} 

h1 {
    color: white;
}

.search {
    @include flexboxCenter();
    border-radius: 4px;
    border: 2px solid #ccc;
    background-color: $secondary-color;
    transition: width 0.4s ease;
    padding: 12px 20px;
    width: 300px;
    font-size: 1.4rem;
}


.homeContainer {
    @include flexboxCenter();
}

.homeButton {
    text-decoration: none;
    color: $secondary-color;
    text-transform: uppercase;
    padding: 10px 25px;
    border: 2px solid white;
    transition: 0.3s ease-in;
    border-radius: 50%;

    &:hover {
        background-color: white;
        color: $primary-color;
    }
}

// HOME PAGE STYLES

.categoryTitleContainer {
    border-bottom: solid 8px $primary-color;
}

// DRAWER LIST STYLE 

.listDrawer {
    height: 100vh;
    background-color: $primary-color;
    width: 25vw;
    color: #fff;
    padding: 10px;
}

.myListContainer {
    border-bottom: 1px solid $secondary-color;
}

.myList {
    font-size: 3rem;
}

.watchListContainer {
    position: relative;
    
        h3 {
        background-color: $tertiary-color;
    }
}

.addToListBtn {
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 2rem;
    cursor: pointer;
}

// COLLECTION STYLE


.collection {
    display: flex;
    list-style: none;
}

.collection li {
    width: 250px;
    height: 280px;
    margin: 10px;
    border: 1px solid red;
}


// SEARCH RESULTS GRID CONTAINER 

.resultsContainer {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
}

.flexItem {
    border: 1px solid red;
    width: 200px;
    height: 300px;
    margin: 5px;
}

//  background-color: #199fdb;


