@import "../partials/setup";
@import "../partials/variables";
@import "../partials/largeOverlay";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-family: $primary-font;
  color: $primary-color;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    &:focus {
      transform: scale(1.1);
    }
  }
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  color: $secondary-color;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-family: $secondary-font;
}

a {
  margin-left: 5px;
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  font-family: $secondary-font;
  color: $secondary-color;
  &:hover i,
  &:focus i {
    transform: scale(1.2);
  }
  i {
    transition: all 1s;
  }
}

* {
  scrollbar-color: $tertiary-color $transparent;
  scrollbar-width: thin;
}

.mainContainer {
  width: 100vw;
  padding-bottom: 50px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

// ACCESSBILITY
.search,
.homeButton,
.searchButton,
.movieTvBtn,
.removeBtn {
  &:focus {
    border: 8px solid $tertiary-color;
  }
}

// HEADER STYLE

.mainNavContainer {
  width: 100%;
  background-color: #103140;
  padding: 10px 50px 0px;
  height: 30vh;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  .logoSearchContainer {
    width: 100%;
    height: 80%;
    display: flex;
    .logoContainer {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.formContainer {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    position: relative;
    .searchSubmitBtn {
      position: absolute;
      bottom: -58px;
      right: 0;
      height: 60px;
      width: 70px;
      background-color: $tertiary-color;
      border: 2px solid $tertiary-color;
      border-radius: 0px 0px 10px 10px;
      z-index: 100;
      &:hover,
      &:focus {
        border: 5px solid $tertiary-color;
        border-top: none;
      }
      &:hover i,
      &:focus i {
        font-size: 3rem;
      }
      i {
        transition: all 1s;
        font-size: 2rem;
        color: $primary-color;
      }
    }
  }
}

.search {
  @include flexboxCenter();
  border-radius: 4px;
  border: 5px solid $tertiary-color;
  background-color: #103140;
  color: $secondary-color;
  transition: width 0.4s ease;
  padding: 10px 15px;
  width: 300px;
  height: 50px;
  font-size: 1.4rem;
}

.tabsContainer {
  // @include flexboxCenter();
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.tab {
  background-color: $tertiary-color;
  text-decoration: none;
  color: $primary-color;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  transition: 0.3s ease-in;
  border-radius: $tab-radius;
  width: 150px;
  margin-right: 10px;
  margin-top: 15px;
  &:hover {
    background-color: $tertiary-color;
    border: 4px solid $tertiary-color;
  }
}

.tab.selected {
  background-color: $secondary-color;
  border: 5px solid $secondary-color;
  &:hover,
  &:focus {
    font-size: 1.2rem;
  }
}

// HOME PAGE STYLES

.categoryTitleContainer {
  border-bottom: solid 8px $primary-color;
  display: flex;
  h2:not(.results) {
    width: 100%;
  }
  .queriesContainer {
    width: 80%;
    ul {
      width: 100%;
    }
  }
}

.categoryTitleContainer.results h2 {
  width: 20%;
}

.removeBtn {
  border: none;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  background-color: $tertiary-color;
  &:hover,
  &:focus {
    color: $secondary-color;
    background-color: crimson;
    border: 3px solid crimson;
  }
}

// COLLECTION STYLE

.collection:not(.watchList) {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.collection li:not(.listItem) {
  width: calc(20% - 20px);
  margin: 10px;
  height: auto;
}

// SEARCH RESULTS GRID CONTAINER and home page styles

.resultsContainer {
  display: none;
}

.myListContainer {
  display: none;
}

.noResults {
  width: 100%;
  height: 40vh;
  .resultsImage {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    opacity: 0.6;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 80%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.resultsSearch {
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  list-style: none;
}

.imgContainer {
  height: auto;
}

.movieTvImg {
  width: 100%;
  height: 100%;
}

.flexItem {
  width: calc(33.3% - 30px);
  margin: 15px;
}

.collection li,
.resultsSearch li {
  position: relative;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.01);
    box-shadow: $shadow;
  }
  &:hover i {
    color: $accent;
    box-shadow: $shadow;
  }
  i {
    border: 2px solid $tertiary-color;
    border-radius: 50%;
    background-color: white;
  }
}

.resultsSearch li {
  margin-bottom: 15px;
}

.title {
  color: $primary-color;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.movieTvBtn {
  width: 100%;
  padding: 10px 0px;
  border: none;
  text-transform: uppercase;
  background-color: $tertiary-color;
  color: $primary-color;
  position: absolute;
  bottom: -10px;
  right: 0;
  font-size: 1.3rem;
  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $tertiary-color;
  }
}

.infoBtn {
  border: none;
  background: none;
  color: $tertiary-color;
  position: absolute;
  top: 5%;
  right: 5%;
  transition: all 1s;
  &:hover,
  &:focus {
    font-size: 12px;
    top: 2.5%;
    right: 4%;
  }
  &:hover i,
  &:focus i {
    color: $accent;
  }
  i {
    border-radius: 50%;
    background-color: white;
    border: 2px solid $tertiary-color;
  }
}

/// WATCHLIST

.watchList.filled {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-flow: row;
  height: 60vh;
  width: 100%;
  padding: 10px;
}

.listItem {
  color: $secondary-color;
  font-family: $secondary-font;
  background-size: cover;
  text-align: left;
  list-style: none;
  position: relative;
  border-bottom: 2px solid $tertiary-color;
  overflow-y: hidden;
  border-radius: $tab-radius;
  .listItemBackWrapper {
    height: 100%;
    width: 100%;
    background: $backdrop;
    .infoBtn {
      top: 10px;
      right: 0;
      &:hover,
      &:focus {
        font-size: 10px;
      }
      i {
        font-size: 22px;
      }
    }
    .info {
      width: 70%;
      height: 100%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0px 0px 10px 10px;
      &:hover {
        color: $tertiary-color;
      }
      .addListItem {
        font-size: 1.6rem;
        margin: 0;
      }
    }
  }
}

// SEARCH QUERY LIST
.queriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .queryList {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-auto-flow: column;
    transform: scale(1);
    h3 {
      opacity: 0;
    }
  }
  .queryMenu {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 3rem;
    transform: scale(0);
    color: $primary-color;
  }
}

.queryItem {
  height: 100%;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: all 1s;
  button {
    height: 100%;
    max-height: 40px;
    width: 80%;
    display: block;
    padding: 0;
    border-radius: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: 500;
    transition: all 1s;
    border: none;
    background-color: $transparent;
    position: relative;
    h5 {
      font-size: 1.1rem;
      color: $primary-color;
      font-family: $secondary-font;
      margin: 0px;
      padding: 5px 30px 5px 5px;
      position: relative;
      transition: all 1s;
    }
  }
  i {
    width: 20%;
    font-size: 1.6rem;
    color: $primary-color;
    z-index: 600;
    border-radius: 50%;
    transition: all 1s;
    cursor: pointer;
    position: relative;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.queryItem.selected {
  background-color: $primary-color;
  button {
    h5 {
      color: $secondary-color;
    }
  }
  i {
    color: $secondary-color;
  }
}

.queryItem:focus-within {
  transform: scale(1.2);
}

//result media query

@media (max-width: 1050px) {
  .mainNavContainer {
    flex-direction: column;
    align-items: center;
    height: 25vh;
  }

  h1 {
    font-size: 5rem;
    margin: 0 auto;
  }

  .collection li:not(.listItem) {
    width: calc(33.3% - 30px);
    margin: 15px;
  }

  .flexItem {
    width: calc(50% - 30px);
    margin: 15px;
  }
}

// HIDE LIST DRAWER

@media (max-width: 850px) {
  .wrapper {
    width: 100%;
  }

  .mainContainer {
    width: 100%;
  }

  .categoryTitleContainer {
    text-align: center;
  }

  .close {
    margin-left: -1000px;
    width: 25vw;
  }
  .open {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .mainNavContainer {
    flex-direction: column;
    align-items: center;
    height: 300px;
    .logoSearchContainer {
      flex-direction: column;
      align-items: center;
      .logoContainer {
        h1 {
          font-size: 4rem;
        }
      }
      .formContainer {
        width: 100%;
        height: 50%;
        form {
          width: 100%;
          .dropListBtn {
            transform: scale(1);
          }
          input {
            width: 100%;
          }
        }
      }
    }
  }

  .collection li:not(.listItem) {
    width: calc(50% - 30px);
    margin: 15px;
  }

  .watchList.filled {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 670px;
  }

  .categoryTitleContainer {
    display: flex;
    position: relative;
    height: 80px;
    h2 {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .queriesContainer {
      width: 100%;
      ul {
        width: 95%;
      }
    }
  }

  .queriesContainer {
    width: 0px;
    .queryMenu {
      transform: scale(1);
      &:hover,
      &:focus {
        border: 4px solid $primary-color;
      }
    }
    .queryList {
      height: 400px;
      position: absolute;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      transform: scale(0);
      background-color: $primary-color;
      grid-gap: 0px;
      top: 90px;
      left: 15px;
      z-index: 700;
      transition: all 1s;
      h3 {
        opacity: 1;
        color: $secondary-color;
        font-family: $secondary-font;
      }
      .queryItem {
        border-radius: 0px;
        border: none;
        background-color: $primary-color;
        h5 {
          font-size: 1.7rem;
          color: $secondary-color;
        }
        i {
          color: $secondary-color;
        }
      }
      .queryItem.selected {
        background-color: $tertiary-color;
        button {
          h5 {
            color: $primary-color;
          }
        }
        i {
          color: $primary-color;
        }
      }
    }
    .queryList.visible {
      transform: scale(1);
    }
  }
  .categoryTitleContainer.results h2 {
    width: 100%;
  }
}

// MOBILE MEDIA QUERY

@media (max-width: 500px) {
  .collection li:not(.listItem),
  .flexItem {
    width: 100%;
    margin: 15px;
    box-shadow: none;
  }
  .watchList.filled {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 1000px;
  }
  .tab {
    width: 100px;
    font-size: 1rem;
    padding: 5% 2%;
  }
}

@media (max-height: 700px) {
  .watchList.filled {
    min-height: 420px;
  }
}
