article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* VARIABLE STYLES */
/* MIX INS */
/* FLEXBOX CENTERING */
.backDropOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
}

.backDropOverlay .overLayWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.largeOverlay {
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  height: 70%;
  max-height: 850px;
  min-height: 810px;
  color: #f2f3f4;
  background-size: cover;
  background-position: center top;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.largeOverlay .detailsCard {
  background: -webkit-gradient(linear, left top, left bottom, from(#153e50a2), color-stop(#153e50dc), color-stop(#153e50f3), to(#153e50));
  background: linear-gradient(#153e50a2, #153e50dc, #153e50f3, #153e50);
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.largeOverlay .detailsCard .overlay {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px 80px 60px 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.overlay .titleContainer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.overlay .imgContainer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2/8;
}

.overlay .detailsContainer {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.overlay .overviewContainer {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  grid-row: 4/9;
}

.overlay .movieTvBtn {
  bottom: 0;
}

.overlay h1,
.overlay h2,
.overlay h3,
.overlay p {
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.exitBtn {
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 2rem;
  color: #f2f3f4;
  z-index: 5000;
}

.exitBtn:hover, .exitBtn:focus {
  color: #e2aa5f;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.exitBtn i {
  border-radius: 50%;
  background-color: #153e50;
  border: 2px solid #e2aa5f;
}

.titleContainer {
  text-align: center;
  border-bottom: 2px solid #e2aa5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px 0 30px;
}

.titleContainer h1 {
  color: #e2aa5f;
  font-size: 3.2rem;
}

.detailsContainer {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}

.detailsContainer span {
  font-size: 2rem;
  color: #e2aa5f;
  margin-right: 10px;
  font-weight: bolder;
}

.detailsContainer ul li {
  margin: 5px 0;
}

.overviewContainer {
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-y: scroll;
}

.overviewContainer i {
  margin-right: 10px;
}

.overviewContainer h3 {
  font-size: 2.5rem;
}

@media (max-width: 1200px) {
  .backDropOverlay {
    width: 98.5vw;
  }
  .backDropOverlay .largeOverlay {
    width: 100%;
    max-width: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 25px 60px 25px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 0.7fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 0.7fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}

@media (min-width: 1201px) and (max-height: 850px) {
  .backDropOverlay .largeOverlay {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 20px 60px 20px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 1201px) and (max-height: 650px) {
  .backDropOverlay .largeOverlay {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
  }
  .detailsContainer {
    font-size: 1.6rem;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.8rem;
  }
  .detailsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detailsContainer ul li {
    margin: 0px 20px;
  }
  .detailsContainer ul li:first-of-type {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: inline-block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) and (max-height: 850px) {
  .backDropOverlay .largeOverlay {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.7fr 0.5fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .detailsContainer {
    font-size: 1.6rem;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.8rem;
  }
  .detailsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .detailsContainer ul li {
    margin: 0px 20px;
  }
  .detailsContainer ul li:first-of-type {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: inline-block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) and (max-height: 650px) {
  .backDropOverlay .largeOverlay {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.3fr 0.3fr 0.3fr 0.1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) and (max-height: 420px) {
  .backDropOverlay {
    height: 410px;
    width: 100vw;
  }
  .backDropOverlay .largeOverlay {
    height: 410px;
    max-height: 410px;
    min-height: 410px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
  }
  .detailsContainer {
    font-size: 1.4rem;
  }
  .overviewContainer {
    font-size: 1.3rem;
  }
  .overviewContainer h3 {
    font-size: 2.3rem;
    margin-top: 18px;
  }
  .overviewContainer p {
    padding-right: 10px;
  }
}

@media (max-width: 900px) {
  .backDropOverlay {
    width: 98.5vw;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 20px 60px 20px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .overlay .overviewContainer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 3;
    grid-row: 6/9;
  }
  .titleContainer h1 {
    font-size: 3rem;
  }
}

@media (max-width: 900px) and (max-height: 850px) {
  .backDropOverlay {
    width: 99vw;
  }
  .backDropOverlay .largeOverlay {
    width: 100%;
    max-width: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 20px 60px 20px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1.5fr 1fr 1fr 0.3fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1.5fr 1fr 1fr 0.3fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.2fr 0.2fr 0.2fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .overlay .overviewContainer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4/9;
  }
  .titleContainer h1 {
    font-size: 3rem;
  }
  .detailsContainer {
    font-size: 1.4rem;
  }
  .detailsContainer span {
    display: inline-block;
    font-size: 1.6rem;
  }
  .detailsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detailsContainer ul li {
    margin: 5px 0px;
  }
  .detailsContainer ul li:first-of-type {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: inline-block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.3rem;
  }
  .overviewContainer {
    margin-top: 20px;
    font-size: 1.4rem;
  }
  .overviewContainer h3 {
    font-size: 2.2rem;
  }
}

@media (max-width: 900px) and (max-height: 650px) {
  .backDropOverlay .largeOverlay {
    width: 100%;
    max-width: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 20px 50px 20px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1.8fr 1.8fr 1.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
        grid-template-rows: 0.8fr 1.8fr 1.8fr 1.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    -ms-grid-columns: 0.02fr 0.02fr 0.02fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.02fr 0.02fr 0.02fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .overlay .overviewContainer {
    margin-top: 15px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4/9;
  }
  .titleContainer h1 {
    font-size: 2.4rem;
  }
  .detailsContainer {
    font-size: 1.4rem;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.6rem;
  }
  .detailsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .detailsContainer ul li {
    margin: 0px 10px;
  }
  .detailsContainer ul li:first-of-type {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.3rem;
  }
  .overviewContainer {
    font-size: 1.25rem;
  }
  .overviewContainer h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) and (max-height: 420px) {
  .backDropOverlay {
    height: 100%;
    width: 100%;
  }
  .backDropOverlay .largeOverlay {
    height: 350px;
    max-height: 350px;
    min-height: 350px;
    width: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 35px 10px 40px 10px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 2fr 2fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr;
        grid-template-rows: 0.8fr 2fr 2fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr;
    -ms-grid-columns: 0.15fr 0.15fr 0.15fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.15fr 0.15fr 0.15fr 0.1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .overlay .imgContainer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .overlay .titleContainer {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .overlay .overviewContainer {
    margin-top: 0px;
  }
  .overlay .detailsContainer {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
  }
  .titleContainer h1 {
    font-size: 2rem;
  }
  .detailsContainer {
    font-size: 1.4rem;
    height: 80px;
    border-bottom: 2px solid #e2aa5f;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .detailsContainer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .detailsContainer ul li {
    margin: 0px 10px;
  }
  .detailsContainer ul li:first-of-type {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.3rem;
  }
  .overviewContainer {
    font-size: 1.15rem;
  }
  .overviewContainer h3 {
    margin-top: 0px;
    font-size: 1.5rem;
  }
  .exitBtn {
    top: 15px;
  }
}

@media (max-width: 690px) {
  .backDropOverlay .largeOverlay {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 10px 30px 60px 20px;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
        grid-template-rows: 0.8fr 1fr 1fr 1fr 0.7fr 1fr 1fr 1fr;
    -ms-grid-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.4fr 0.4fr 0.5fr 0.1fr 1fr 1fr 1fr 1fr;
  }
  .overlay .overviewContainer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .detailsContainer {
    font-size: 1.6rem;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.8rem;
  }
  .detailsContainer ul li {
    margin: 10px 0px;
  }
  .detailsContainer ul li:first-of-type {
    margin-top: 0px;
  }
  .detailsContainer ul li:last-of-type span {
    display: inline-block;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .backDropOverlay {
    height: 100vh;
    width: 100vw;
  }
  .backDropOverlay .largeOverlay {
    min-height: 700px;
    max-height: 700px;
    height: 700px;
    margin-top: -50px;
  }
  .backDropOverlay .largeOverlay .overlay {
    padding: 20px 10px 60px 20px;
  }
  .exitBtn {
    right: 5px;
    top: 20px;
    font-size: 1.8rem;
  }
  .overlay {
    -ms-grid-rows: 0.8fr 1fr 1fr 0.2fr 0.7fr 1fr 1fr 0.8fr;
        grid-template-rows: 0.8fr 1fr 1fr 0.2fr 0.7fr 1fr 1fr 0.8fr;
    -ms-grid-columns: 0.5fr 0.5fr 0.7fr 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.5fr 0.5fr 0.7fr 0.5fr 1fr 1fr 1fr 1fr;
  }
  .overlay .overviewContainer {
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .titleContainer {
    padding: 0 40px 0 0;
  }
  .titleContainer h1 {
    font-size: 2.4rem;
    text-align: left;
  }
  .detailsContainer {
    font-size: 1.4rem;
  }
  .detailsContainer span {
    display: block;
    font-size: 1.6rem;
  }
  .detailsContainer ul li {
    margin: 0px;
  }
  .detailsContainer ul li:last-of-type i {
    font-size: 2.3rem;
  }
  .overviewContainer {
    font-size: 1.4rem;
    margin: 0px;
    padding: 0px;
  }
  .overviewContainer h3 {
    font-size: 2.4rem;
    margin-top: 18px;
  }
  .overviewContainer p {
    padding-right: 10px;
    font-size: 1.3rem;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Archivo Black", sans-serif;
  color: #153e50;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 4rem;
  color: #f2f3f4;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  margin-left: 5px;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  font-family: "Roboto", sans-serif;
  color: #f2f3f4;
}

a:hover i,
a:focus i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

a i {
  -webkit-transition: all 1s;
  transition: all 1s;
}

* {
  scrollbar-color: #e2aa5f rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}

.mainContainer {
  width: 100vw;
  padding-bottom: 50px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.search:focus,
.homeButton:focus,
.searchButton:focus,
.movieTvBtn:focus,
.removeBtn:focus {
  border: 8px solid #e2aa5f;
}

.mainNavContainer {
  width: 100%;
  background-color: #103140;
  padding: 10px 50px 0px;
  height: 30vh;
  min-height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainNavContainer .logoSearchContainer {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainNavContainer .logoSearchContainer .logoContainer {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNavContainer .logoSearchContainer .logoContainer h1 {
  margin: 0;
  padding: 0;
}

.formContainer {
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formContainer form {
  position: relative;
}

.formContainer form .searchSubmitBtn {
  position: absolute;
  bottom: -58px;
  right: 0;
  height: 60px;
  width: 70px;
  background-color: #e2aa5f;
  border: 2px solid #e2aa5f;
  border-radius: 0px 0px 10px 10px;
  z-index: 100;
}

.formContainer form .searchSubmitBtn:hover, .formContainer form .searchSubmitBtn:focus {
  border: 5px solid #e2aa5f;
  border-top: none;
}

.formContainer form .searchSubmitBtn:hover i,
.formContainer form .searchSubmitBtn:focus i {
  font-size: 3rem;
}

.formContainer form .searchSubmitBtn i {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 2rem;
  color: #153e50;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 5px solid #e2aa5f;
  background-color: #103140;
  color: #f2f3f4;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  padding: 10px 15px;
  width: 300px;
  height: 50px;
  font-size: 1.4rem;
}

.tabsContainer {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.listButton,
.homeButton,
.searchButton {
  background-color: #e2aa5f;
  text-decoration: none;
  color: #153e50;
  text-transform: uppercase;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 20px 20px 0 0;
  width: 150px;
  margin-right: 10px;
  margin-top: 15px;
}

.listButton:hover,
.homeButton:hover,
.searchButton:hover {
  background-color: #e2aa5f;
  border: 4px solid #e2aa5f;
}

.tab.selected {
  background-color: #f2f3f4;
  border: 5px solid #f2f3f4;
}

.tab.selected:hover, .tab.selected:focus {
  font-size: 1.2rem;
}

.categoryTitleContainer {
  border-bottom: solid 8px #153e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categoryTitleContainer h2:not(.results) {
  width: 100%;
}

.categoryTitleContainer .queriesContainer {
  width: 80%;
}

.categoryTitleContainer .queriesContainer ul {
  width: 100%;
}

.categoryTitleContainer.results h2 {
  width: 20%;
}

.removeBtn {
  border: none;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 22px;
  background-color: #e2aa5f;
}

.removeBtn:hover, .removeBtn:focus {
  color: #f2f3f4;
  background-color: crimson;
  border: 3px solid crimson;
}

.collection:not(.watchList) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection li:not(.listItem) {
  width: calc(20% - 20px);
  margin: 10px;
  height: auto;
}

.resultsContainer {
  display: none;
}

.myListContainer {
  display: none;
}

.noResults {
  width: 100%;
  height: 65vh;
}

.noResults .resultsImage {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noResults .resultsImage img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.resultsSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0px;
  list-style: none;
}

.imgContainer {
  height: auto;
}

.movieTvImg {
  width: 100%;
  height: 100%;
}

.flexItem {
  width: calc(33.3% - 30px);
  margin: 15px;
}

.collection li,
.resultsSearch li {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.collection li:hover,
.resultsSearch li:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection li:hover i,
.resultsSearch li:hover i {
  color: #dbd6d6;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection li i,
.resultsSearch li i {
  border: 2px solid #e2aa5f;
  border-radius: 50%;
  background-color: white;
}

.resultsSearch li {
  margin-bottom: 15px;
}

.title {
  color: #153e50;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.movieTvBtn {
  width: 100%;
  padding: 10px 0px;
  border: none;
  text-transform: uppercase;
  background-color: #e2aa5f;
  color: #153e50;
  position: absolute;
  bottom: -10px;
  right: 0;
  font-size: 1.3rem;
}

.movieTvBtn:hover, .movieTvBtn:focus {
  background-color: #153e50;
  color: #e2aa5f;
}

.infoBtn {
  border: none;
  background: none;
  color: #e2aa5f;
  position: absolute;
  top: 5%;
  right: 5%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.infoBtn:hover, .infoBtn:focus {
  font-size: 12px;
  top: 2.5%;
  right: 4%;
}

.infoBtn:hover i,
.infoBtn:focus i {
  color: #dbd6d6;
}

.infoBtn i {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #e2aa5f;
}

.watchList.filled {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-flow: row;
  height: 60vh;
  width: 100%;
  padding: 10px;
}

.listItem {
  color: #f2f3f4;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  text-align: left;
  list-style: none;
  position: relative;
  border-bottom: 2px solid #e2aa5f;
  overflow-y: hidden;
  border-radius: 20px 20px 0 0;
}

.listItem .listItemBackWrapper {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#153e50a2), color-stop(#153e50dc), color-stop(#153e50f3), to(#153e50));
  background: linear-gradient(#153e50a2, #153e50dc, #153e50f3, #153e50);
}

.listItem .listItemBackWrapper .infoBtn {
  top: 10px;
  right: 0;
}

.listItem .listItemBackWrapper .infoBtn:hover, .listItem .listItemBackWrapper .infoBtn:focus {
  font-size: 10px;
}

.listItem .listItemBackWrapper .infoBtn i {
  font-size: 22px;
}

.listItem .listItemBackWrapper .info {
  width: 70%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 10px 10px;
}

.listItem .listItemBackWrapper .info:hover {
  color: #e2aa5f;
}

.listItem .listItemBackWrapper .info .addListItem {
  font-size: 1.6rem;
  margin: 0;
}

.queriesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.queriesContainer .queryList {
  height: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-auto-flow: column;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.queriesContainer .queryList h3 {
  opacity: 0;
}

.queriesContainer .queryMenu {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #153e50;
}

.queryItem {
  height: 100%;
  background-color: #f2f3f4;
  border: 2px solid #153e50;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.queryItem button {
  height: 100%;
  max-height: 40px;
  width: 80%;
  display: block;
  padding: 0;
  border-radius: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}

.queryItem button h5 {
  font-size: 1.1rem;
  color: #153e50;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 5px 30px 5px 5px;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.queryItem i {
  width: 20%;
  font-size: 1.6rem;
  color: #153e50;
  z-index: 600;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
  position: relative;
}

.queryItem i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.queryItem.selected {
  background-color: #153e50;
}

.queryItem.selected button h5 {
  color: #f2f3f4;
}

.queryItem.selected i {
  color: #f2f3f4;
}

.queryItem:focus-within {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1050px) {
  .mainNavContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
  }
  h1 {
    font-size: 5rem;
    margin: 0 auto;
  }
  .collection li:not(.listItem) {
    width: calc(33.3% - 30px);
    margin: 15px;
  }
  .flexItem {
    width: calc(50% - 30px);
    margin: 15px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    width: 100%;
  }
  .mainContainer {
    width: 100%;
  }
  .categoryTitleContainer {
    text-align: center;
  }
  .close {
    margin-left: -1000px;
    width: 25vw;
  }
  .open {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 750px) {
  .mainNavContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 300px;
  }
  .mainNavContainer .logoSearchContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainNavContainer .logoSearchContainer .logoContainer h1 {
    font-size: 4rem;
  }
  .mainNavContainer .logoSearchContainer .formContainer {
    width: 100%;
    height: 50%;
  }
  .mainNavContainer .logoSearchContainer .formContainer form {
    width: 100%;
  }
  .mainNavContainer .logoSearchContainer .formContainer form .dropListBtn {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .mainNavContainer .logoSearchContainer .formContainer form input {
    width: 100%;
  }
  .collection li:not(.listItem) {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .watchList.filled {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 670px;
  }
  .categoryTitleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 80px;
  }
  .categoryTitleContainer h2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .categoryTitleContainer .queriesContainer {
    width: 100%;
  }
  .categoryTitleContainer .queriesContainer ul {
    width: 95%;
  }
  .queriesContainer {
    width: 0px;
  }
  .queriesContainer .queryMenu {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .queriesContainer .queryMenu:hover, .queriesContainer .queryMenu:focus {
    border: 4px solid #e2aa5f;
  }
  .queriesContainer .queryList {
    height: 220px;
    position: absolute;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #153e50;
    grid-gap: 0px;
    top: 90px;
    left: 15px;
    z-index: 700;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .queriesContainer .queryList h3 {
    opacity: 1;
    color: #f2f3f4;
    font-family: "Roboto", sans-serif;
  }
  .queriesContainer .queryList .queryItem {
    border-radius: 0px;
    border: none;
    background-color: #153e50;
  }
  .queriesContainer .queryList .queryItem h5 {
    font-size: 1.7rem;
    color: #f2f3f4;
  }
  .queriesContainer .queryList .queryItem i {
    color: #f2f3f4;
  }
  .queriesContainer .queryList .queryItem.selected {
    background-color: #e2aa5f;
  }
  .queriesContainer .queryList .queryItem.selected button h5 {
    color: #153e50;
  }
  .queriesContainer .queryList .queryItem.selected i {
    color: #153e50;
  }
  .queriesContainer .queryList.visible {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 500px) {
  .collection li:not(.listItem),
  .flexItem {
    width: 100%;
    margin: 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .watchList.filled {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 1000px;
  }
}

@media (max-height: 700px) {
  .watchList.filled {
    min-height: 420px;
  }
}
